/*
Kevin O'Toole
AVF 1308
CSS Template
*/

#launchpage, #camerapage, #compasspage, #geolocationPage, #connectionpage, #week1, #week2, #igapi, #flickr{
	background: rgb(135,224,253); /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  rgba(135,224,253,1) 20%, rgba(83,203,241,1) 62%, rgba(5,171,224,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(20%,rgba(135,224,253,1)), color-stop(62%,rgba(83,203,241,1)), color-stop(100%,rgba(5,171,224,1))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(135,224,253,1) 20%,rgba(83,203,241,1) 62%,rgba(5,171,224,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  rgba(135,224,253,1) 20%,rgba(83,203,241,1) 62%,rgba(5,171,224,1) 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  rgba(135,224,253,1) 20%,rgba(83,203,241,1) 62%,rgba(5,171,224,1) 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  rgba(135,224,253,1) 20%,rgba(83,203,241,1) 62%,rgba(5,171,224,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#05abe0',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	text-shadow: none;
}

h1{
	text-align: center;
	padding: 5px;
	margin: 0px;
	font-size: 18px;
}

ul#data-output img, ul#fldata-output img{
	max-width: 100%;
}

ul#data-output li, ul#fldata-output li{
	text-align: center;
	list-style: none;
	display: inline-block;
	padding: 5px;
	margin: 10px;
	max-width: 30%;
}

#imgDiv{
	text-align: center;
	padding: 10px;
	margin: 10px;
}

#cameraImage{
	max-width: 100%;
	display: none;
}

#geoMap{
	text-align: center;
	font-size: 16px;
	font-weight: bold;
}

#type{
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	margin: 20px;
	padding: 20px;
}